/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
}
  /* poppins-500 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v20-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
}
  /* poppins-600 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v20-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v20-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v20-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
    font-family: 'CalSans-SemiBold';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/CalSans-SemiBold.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/CalSans-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/CalSans-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/CalSans-SemiBold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/CalSans-SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
}

.body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.header__img {
    position: absolute;
    top: 0;
    right: 230px;
}

.wrapper {
    max-width: 1200px;
    height: auto;
    margin: 0 auto; 
}

.nav {
    display: flex;
    align-items: center;
    margin: 52px 0 34px 0px;
}
.nav__link {
    margin-right: 96px;
}

.nav__list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.nav__item {
    margin-right: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(18, 18, 18, 0.4);
}

.header__title {
    width: 40%;
    margin-top: 135px;
}

h1 {
    margin: 0;
    font-family: 'Cal Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 67px;
    color: #121212;
}

.text-orange {
    color: #FF6428;
}

.header__title-text {
    margin: 9px 50px 0 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}

.header__app {
    height: 57px;
    width: auto;
    margin-top: 33px;
    display: flex;
    align-items: center;
}

.header__app-btn {
    width: 192px;
    height: 60px;
    background: #FF6428;
    border: none;
    border-radius: 40px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.header__app-play {
    margin-left:40px;
}

.header__app-appstore {
    margin-left: 26px;
}

.header__circle {
    position: absolute;
    top: 545px;
    right: 475px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: white;
}

.header__circle-logo {
    width: 24px;
    height: 24px;
}

.store {
    margin-top: 229px;
    text-align: center;
}

.store__title {
    font-family: 'Cal Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 53px;
    color: #121212;

}

.board__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 63px;
}
.board__text {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.08em;
    color: #121212;
}
.board__link {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #868686;
    text-decoration: none;
}
.board__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin-bottom: 65px;
}

.item__title {
    margin: 32px 0 0 1.5px;
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #121212;

}
.item_price {
    margin-top: 6px;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #666666;
}

.categories {
}
.categories__title {
    margin: 174px 0 74px 320px;
    font-family: 'Cal Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 53px;
    color: #000000;
}
.categories__list {
    display: flex;
    justify-content: space-around;
    padding: 0 22px;
}
.categories__item {
    list-style-type:none;
}

.categories__item-link {
    text-decoration: none;
}

.categories__item-text {
    margin-top:-67px ;
    opacity: 0.9;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

.brands {
}
.brands__title {
    font-family: 'Cal Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 53px;
    text-align: center;
    color: #000000;
    margin: 236px 0 68px 70px;
}

.brands__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 73px;
    list-style-type:none;
    margin: 0 0 0 170px;
}

.brands__item {
}
.brands__item-logo {
}