@font-face {
    font-family: 'Eastman Bold';
    src: url("../fonts/Eastman-Bold.eot");
    src: local("Eastman-Bold"), local("Eastman-Bold"), url("../fonts/Eastman-Bold.eot?#iefix")format("embedded-opentype"), url("../fonts/Eastman-Bold.woff2") format("woff2"), url("../fonts/Eastman-Bold.woff")format("woff"), url("../fonts/Eastman-Bold.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Eastman Regular';
  src: url("../fonts/Eastman-Regular.eot");
  src: local("Eastman Regular"), local("Eastman Regular"), url("../fonts/Eastman-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Eastman-Regular.woff2") format("woff2"), url("../fonts/Eastman-Regular.woff") format("woff"), url("../fonts/Eastman-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'Eastman Medium';
  src: url("../fonts/Eastman-Regular.eot");
  src: local("Eastman Medium"), local("Eastman Medium"), url("../fonts/Eastman-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Eastman-Medium.woff2") format("woff2"), url("../fonts/Eastman-Medium.woff") format("woff"), url("../fonts/Eastman-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'Aeroport Mono';
  src: url("../fonts/AeroportMono.eot");
  src: local("Aeroport Mono"), local("Aeroport Mono"), url("../fonts/AeroportMono.eot?#iefix") format("embedded-opentype"), url("../fonts/AeroportMono.woff2") format("woff2"), url("../fonts/AeroportMono.woff") format("woff"), url("../fonts/AeroportMono.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

body, html {
  min-height: 100vh;
}

body {
}

.header {
  width: auto;
  height: 100px;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 90px;
    padding: 32px 182px 20px 186px;
}

.nav__btn {
    width: 305px;
    height: 52px;
    background: linear-gradient(91.65deg, #93E736 -28.46%, #13A16C 105.66%);
    border-radius: 50px;
    border: none;
    font-family: 'Eastman Medium';
    color:white;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

.home {
    width: auto;
    height: 940px;
}

.home__img {}

.envelope {
    position: absolute;
    width: 209px;
    height: 168px;
    left: 50px;
    top: 194px;
    background: url(../images/envelope.png);
    transform: rotate(0.0deg);
}

.circle {
    position: absolute;
    width: 362.43px;
    height: 362.43px;
    border-radius: 362px;
    left: -166.8px;
    top: 151px;
    background: linear-gradient(131.3deg, #15B68E 8.56%, #93E736 87.99%);
    transform: rotate(37.41deg);
    z-index: 3;
}


}

.cicle-right {}

.circle-border {}

.heart {}

.heart-left {}

.like {}

.home__title {}

h1 {}

.home__line {}

.home__line-text {}