.list {
    background-color: blueviolet;
    color:azure;
    width:300px;
    height: 205px;
    margin: 25px;
    padding: 0 0 0 50px;

}

.list__item:nth-child(3) {
   font-size:large;
}

.list__item:first-child {
    background-color: blue;
    width: 90px;
}

.list__item:last-child {
    background-color: black;
    width: 90px;
}

.list__item:hover {
    background-color: brown;
    width: 90px;
}

.list__item::before {
    content:"!";
    color:red;
}

.banner {
    width: 40vw;
    height: 50vh;
    background-color: black;
    border:25px gray solid;
    color:white
}

@media (min-width:768px) {
    .banner {
        width: 50vh;
        height: 60vh;
        background-color: blueviolet;
        border:5px red solid;
        font-size: smaller;
        color:aqua;
    }
}

@media (min-width:1024px) {
    .banner {
        width:70vw;
        height: 70vh;
        background-color: red;
        border:15px blue solid;
        font-size: medium;
        color:black;
    }
}

@media (min-width:1200px) {
    .banner {
        width:85vw;
        height: 80vh;
        background-color: greenyellow;
        border: 50px solid black;
        font-size: large;
        color:navy;

    }
}
