p {
    margin:100px 0 0 600px;
    padding:10px ;
    background: #ffffff;
    border: 10px solid #434444;
    border-radius: 10%;
    height: 200px;
    width: 150px;
    transition: all .5s ease-out;
  }

p.Effect {
    margin:100px 0 0 560px;
    background: #690f0f;
    color:bisque;
    border: 10px solid #020202;
    border-radius: 15%;
    height: 200px;
    width: 350px;
    transform: translateX(100px);    
}  

form {
    height: 300px;
    width: 400px;
    margin: 100px 0 0 500px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #ffffff;
}

button {
    margin:270px 0 0 160px
}