.header {
}
.wrapper {
    max-width: 1200px;
    height: auto;
}

.nav {
    
}

.nav__item {
    display: grid;
    justify-content: space-around;
    background-color: aqua;
}

.nav__item {
    width: 150px;
    height: 50px;
    margin: 5px;
    background-color: blueviolet;
}